flask==3.0.3
gunicorn==22.0.0
werkzeug==3.0.3
psutil>=5.9.0
flask-sqlalchemy
pathlib
urllib3
PyJWT
pytz
aiohttp
pycryptodome
protobuf
google-api-python-client
python-cfonts
requests
python-dotenv
protobuf-decoder
python-telegram-bot
